.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected{
    color: white !important;
    border-bottom: 2px solid #ffffff00;
    font-weight: bold;
    background-color: #08979c;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover{
    color: white !important;
    border-bottom: 2px solid #ffffff00;
    background-color: #08979c;
}

.ant-menu-item{
    margin: 0 !important;
    padding: 0px 20px !important;
    top: 0px !important;
}

.ant-menu-horizontal{
    font-weight: bold;
    border-bottom: 0px;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected a{
    color: white !important;
    border-bottom: 2px solid #ffffff00;
    font-weight: bold;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover a{
    color: white !important;
    border-bottom: 2px solid #ffffff00;
}

.ant-menu-submenu-title{
    color: white !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu{
    margin: 0 !important;
    padding: 0px 20px !important;
    top: 0px !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover{
    border-bottom: 2px solid #ffffff00;
}

.ant-spin{
    background-color: whitesmoke;
    width: 100%;
    padding: 50px;
    border-radius: 10px;
}

th{
    font-weight: bold !important;
}

.ant-btn{
    border-radius: 10px;
}

.ant-select-selector{
    border-radius: 10px !important;
}

.ant-input{
    border-radius: 10px !important;
}

.ant-picker-calendar-mode-switch {
    display: none;
}

.ant-picker-calendar {
    border: 2px solid #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

.ant-picker-calendar-date-content {
    scrollbar-width: none;
}

.ant-menu-horizontal > .ant-menu-item{
    min-width: 200px;
    width: 12%;
    max-width: 250px;
    text-align: center;
}

@media screen and (max-width: 1350px) {
  .ant-picker-calendar{
      display: none;
  }
}

.ant-menu-horizontal > .ant-menu-item a {
    color: rgba(255, 255, 255);
}
