.upcomingPatientDetails{
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 3px;
}

.upcomingAppointment{
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 15px;
    box-shadow: 2px 2px 2px #00000020;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid whitesmoke;
}

.upcomingAppointments{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.appointmentDate{
    margin-bottom: 0px;
    color: #13c2c2;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

.appointmentTime{
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: bold;
}

.appointmentActions{
    padding-top: 5px;
}

.patientDetails{
    color: grey;
    font-size: 20px;
    margin-bottom: 0px;
}

.exclamation{
    font-size: 20px;
    color: orange;
    transform: translateY(2px);
}

.upcomingPatientPhone{
    font-size: 20px;
    margin-bottom: 5px;
}

.largeAppointment{
    display: none;
}

.smallAppointment{
    display: block;
}

@media screen and (max-width: 750px) {
    .upcomingAppointments{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
    }
}
