.pageWrapper{
    padding: 20px;
}

.tableContainer{
    margin-top: 30px;
}

/* DATA DISPLAY */

.sectionHeader{
    font-size: 20px;
    background-color: whitesmoke;
    padding: 2px 5px;
}

.displayDetails3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.attributeKey{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0px;
}

/* PAGE DISPLAY */

.pageDivider2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    column-gap: 35px;
}

.layout{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

@media screen and (max-width: 1350px) {
  .ant-picker-calendar{
      display: none;
  }

  .pageDivider2{
      display: grid;
      grid-template-columns: 1fr;
      padding: 10px;
      column-gap: 35px;
  }
}
