.signinPage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}

.signinPicture{
    background: url('../assets/signinpicture.jpeg');
    background-size: cover;
}

.signinOverlay{
    background-color: #36cfc9;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.signinForm{
    padding:50px 100px;
}

.signinTitle{
    text-align: center;
    color: #36cfc9;
    font-weight: bold;
    font-size: 30px;
}

.gpmitraLogo{
    width: 300px;
    margin-left: calc(50% - 150px);
}
